<template>
    <div>
      <h2>Form</h2>
     <select v-model ="defoltSocial" >
       <option 
       v-for="list in socialsList" 
       > {{list}} </option>
     </select>
    </div>
</template>

<script>
export default {
  data() {
    return {
     socialsList: ['Insta', 'FS', 'VK'],
     defoltSocial: 'VK'
    }
  },
 
}
</script>

<style scoped>

</style>
