<template>
    <div>
      <h2> {{ title }} </h2>

      <input type="text" v-model="searchName" >

      <ul>
        <li v-for="name of filtredNames" > {{ name }} </li>
      </ul>

      <hr>
      <app-list></app-list>
     
    </div>
</template>


<script>
export default {
  data() {
    return {
      title: 'Hello i am Vue!!!',
      names: ['Alex', 'Bob', 'Aliaksander'],
      searchName: ''
    }
  },
  filters:{
    //Фильтры - это функции! :)
    lowercase(value){
      return value.toLowerCase()
    }
  },
  computed: {
    filtredNames(){
      return this.names.filter(name =>{
        return name.toLowerCase().indexOf(this.searchName.toLowerCase()) !== -1
      })
    }
  }
}
</script>



<style scoped>

</style>
