<template>
    <div>
     <h2>Form</h2>
     <input type="text" v-model="textArea" >
     <p>{{name}} </p>
     <hr>

      <textarea name="" id="" cols="30" rows="10" v-model="textArea" ></textarea>
      <hr>
      <label for="">
        <input type="checkbox" value="Insta" v-model="social"> Insta
      </label>
            <label for="">
        <input type="checkbox" value="VK" v-model="social"> VK
      </label>
            <label for="">
        <input type="checkbox" value="FS" v-model="social"> FS
      </label>

      <hr>
      <ul>
        <li v-for="s in social" > {{ s }} </li>
      </ul>
     
     
    </div>
</template>

<script>
export default {
  data() {
    return {
      name: 'xxx',
      textArea: 'text Area',
      social: []
    }
  },
 
}
</script>

<style scoped>

</style>
