<template>
  <div>
      <app-counter>
      </app-counter>

      <h1 v-colored > {{ carName }} </h1>
      <h2> {{ sms }} </h2>
      <H3> {{ jobName }} </H3>

       <app-car 
          :carName="carName"
          :carYear="carYear"
          @nameChanged="carName = $event"
          :changeFunc="changeNameToAudi"
          @counterUpdated="counter = $event"
       ></app-car> 

       <app-job :jobName="jobName" ></app-job>

  </div>
</template>


<script>
import counter from './Counter.vue'

export default {
  data () {
    return {
      carName:'Это родительская строка!',
      carYear: 2009,
      sms: 'урок - 56 закончен',
      jobName: 'Super VUE JOB!!!'
    }
  },
  methods:{
    changeNameToAudi(){
      this.carName = 'Audi'
    }
  },
  comments:{
    appCounter: counter
  }
}
</script>


<style>
</style>
