<template>
    <div class="car" >
        <h3>Name {{ carName }} </h3>
        <p>Year: {{ carYear }} </p>
        <button @click="changeName" >Change name</button>
        <button @click="changeFunc()" >Change Audi</button>

        <button @click="updateCounter()" > Обновить counter </button>

    </div>
</template>

<script>
import {eventEmitter} from './main'

export default {
   // props:['carName', 'carYear'], //передаем строку где указываем название входящего параметра который должен поступить в компонет
   props:{
       carName:{
           type: String,
           required: true,
           default:'Дефолтный carName'
       },
       carYear:{
           type: Number,
           required: true,
           default: 1000
       },
       changeFunc: Function,
   },
   methods:{
       changeName(){
           this.carName = 'Mazda!!!!'
           this.$emit('nameChanged', this.carName)
       },
       updateCounter(){
           //this.$emit('counterUpdated',this.counter + 1)
           eventEmitter.$emit('counterUpdated')
       }
   }
}
</script>

<style scoped>
    div {
        border: 1px solid salmon;
    }
    .car h3{
        margin-bottom: 5px;
    }
</style>
