<template>
    <div>
        <h1>Counter: {{ counter }} </h1>
    </div>
</template>

<script>
import {eventEmitter} from './main'

export default {
    data() {
        return {
            counter: 0
        }
    },
    created() {
        eventEmitter.$on('counterUpdated', ()=>{
            this.counter++
        })
    },
 
}
</script>