<template>
    <div class="job">
        <h2>Это самый новый VUE объект - {{ jobName }} </h2>    
        
    </div>    
</template>

<script>
export default {
    props:['jobName']
}
</script>

<style>
    .job{
        background-color: aqua;
        border: 3px solid yellowgreen;
    }
</style>
