<template>
    <div>
        <h1>List</h1>
    </div>
</template>

<script>
import ListMixin from './listMixin.js'

export default {
    mixins: ['ListMixin']
    
}
</script>

<style scoped>

</style>
